body {
    background-color: #eee;
    color: black;
    font-family: arial, helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: repeat-y;
    background-image: url(/Damas/image/backshade.png);
    background-position: 50% 0;
}


/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.page {
    position: relative;
    width: 700px;
}

#home .page {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 23px;
    margin: 0;
    padding: 0;
    width: 700px;
    border-bottom: 1px solid #888;
    margin-bottom: 30px;
    padding-bottom: 2px;
}

a {
    color: rgb(27, 83, 175);
}

.score {
    position: absolute;
    top: 10px;
    right: 110px;
    width: 100px;
    text-align: right;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
}

#counter {
    position: absolute;
    left: 520px;
    top: 26px;
    width: 100px;
    text-align: right;
    height: 30px;
    font-size: 11px;
    color: gray;
    font-weight: bold;
    display: none;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
    white-space: normal;
}


/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea {
    max-width: 280px;
}

.gameWrapper {
    width: 516px;
    height: 516px;
    position: relative;
}

.boardWrapper {
    width: 520px;
    height: 520px;
    background-color: #555;
    padding: 4px;
    position: absolute;
}

.gameWrapper img {
    width: 64px;
    height: 64px;
}

#message {
    height: 50px;
}

.line {
    line-height: 0;
    height: 64px;
    overflow: hidden;
}

.score,
#counterwrap {
    display: none;
}

#contenedor {
    margin: auto;
    width: 180px;
    height: 40px;
}

.reloj {
    float: left;
    font-size: 30px;
    font-family: Courier, sans-serif;
    color: #363431;
}